.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('./assets/bgimage.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    
html, body {
  height: 100%;
  overflow: hidden;
}

.login-box {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  width: 300px;
}